<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covid Tracker</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th >State</th>
        <th >Country</th>
        <th >Total cases reported</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="locationStat : ${covidData}">
        <td th:text="${locationStat.getState()}"></td>
        <td th:text="${locationStat.getCountry()}"></td>
        <td th:text="${locationStat.getLatestTotal()}"></td>

    </tbody>
</table>
</body>
</html>